{% extends "base.html" %}
{% load static %}
{% block content %}

<div style="background-color: #f2f3f4; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
    <h2 class="text-center">Founder</h2>
    <div class="text-center history-img">
        <img width='90%' height="300px" class="history-img" src="{% static 'acci_main/images/apostle.jpg' %}" alt="">
    </div>
    <p style="text-indent: 0px;" class="text-primary p-history m-4">

        <B class=text-danger>HEBREWS 13: 8 "Jesus Christ is the same yesterday, today and forever...</B><br>
        The Apostles’ Continuation Church International is regarded as part of the body of Christ which traces its
        origin to the ministry of late Apostle Emmanuel Kwadwo Owusu and eight other members from a living room in 1980.
        It began at Duayaw-Nkwanta, a town in Ahafo Region off the Sunyani road in Ghana, West Africa where Jesus Christ
        is the Head.
    </p>
    <p style="text-indent: 0px;" class="text-primary p-history m-4">

        From the commencement of the Church, it was agreed that the headquarters should forever be situated at
        Duayaw-Nkwanta in the Tano North municipal with the exception of regional and district offices across the
        country (Ghana), and other continents as a whole. This should be opened for transmission of accounting returns
        and administration. Currently the church is under the able leadership of Apostle Clement Brakatu (Chairman) who
        assumed office from March, 2003 to date.
    </p>

    <p style="text-indent: 0px;" class="text-primary p-history m-4">

        By the grace of God, The Apostle’s Continuation Church has established churches in several countries around the
        world making it an international body globally recognized. Among these countries are the United Kingdom (UK), in
        United States of America (USA), Germany, Canada, Netherlands, France, Italy, Belgium and Spain.
    </p>
    <p style="text-indent: 0px;" class="text-primary p-history m-4">

        The Aims and Objectives of the church are to practice and also inculcate in others, what the Lord Jesus Christ
        had commended in the Holy Scriptures (the Bible) with articular reference to Mark 16:15-16 “Go ye into the
        entire world and preach the Gospel to every creature, he that believeth and is baptized shall be saved”. The
        Apostles’ Continuation Church International (ACCI) as part of the body of Christ exists to bring salvation in
        Christ to all persons in the world by preaching and teaching the gospel of Jesus Christ as in the Holy
        Scriptures, which is the final authority in all matters of Faith. The church believes in miracles, signs and
        wonders which are usually seen in believers of Jesus Christ.
    </p>
    <p style="text-indent: 0px;" class="text-primary p-history m-4">

        The Church, was registered on the first day of September, 1995. The Apostles’ Continuation Church International
        as its new name and thereafter registered its Board of Trustees with its new name on 23rd day of December, 1999
        under certificate No. GS, 434 as non-profit making religious organization.

    </p>
</div>

{% endblock content %}