{% extends "base.html" %}
{% load static %}
{% block content %}



<div style="background-color: #fafafa; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
    <h2 class="text-center">THE DISTRICT</h2>
    <div class="text-center history-img">
        <img width='90%' height="300px" class="history-img" src="{% static 'acci_main/images/apostle.jpg' %}" alt="">
    </div>
    <p class="text-primary p-history m-4">
        This is a further division of the Area which is headed by a Senior Pastor or a Pastor. The District Pastor
        administers the district with the assistance of the District Executive Committee Members. The highest
        decision-making body is the District Presbytery.

        The District Presbytery Council is made up of the District Pastor and his Wife All Pastors / Overseer, One
        Pastor’s Wife Representative, The District Executives, Two (2) Elders representatives, two (2) Deacons and
        Deaconesses and two (2) Prophets / Prophetesses in the District.
        The District Presbytery, which is the highest policy-making body in the District, decides on all matters
        affecting the growth, development and welfare of the Local congregations. It also receives and approves reports
        submitted by the various organs of the Church in the District.



    </p>

</div>

{% endblock content %}