{% extends "base.html" %}
{% load static %}
{% block content %}


<div style="background-color: #fafafa; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
    <h2 class="text-center">THE GENERAL COUNCIL</h2>
    <div class="text-center history-img">
        <img width='90%' height="300px" class="history-img" src="{% static 'acci_main/images/apostle.jpg' %}" alt="">
    </div>
    <p class="text-primary p-history m-4"> 
            The General Council is the highest policy making body of the Church and the final appellate body in all
            disciplinary matters affecting the Church. It is vested with the final authority to deliberate and make
            broad policies for the administration of the church in accordance with the constitution of the Church.
            The General Council, made up of all Apostles, Prophets, Trustees, all active ordained Ministers, Regional
            Executive Committee, Members, National Heads, National Deacons, National Secretaries, Chairmen of Boards and
            Committees and Movement/ Ministry’s General Leaders or Director(s).
            The General Council is responsible for electing the Chairman, the General Secretary, the International
            Missions Director and the members of the Executive Council.

        </p>
    
</div>

{% endblock content %}