{% extends "base.html" %}
{% load static %}
{% block content %}



<div style="background-color: #fafafa; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
    <h2 class="text-center">THE AREA</h2>
    <div class="text-center history-img">
        <img width='90%' height="300px" class="history-img" src="{% static 'acci_main/images/apostle.jpg' %}" alt="">
    </div>
    <p class="text-primary p-history m-4">

        This is the third administrative rung, following the General Council and the Executive Council. It is headed
        by an Apostle, Prophet or a Senior Pastor, or an experienced Minister appointed by the Executive Council for
        ratification by General Council. He is assisted by appointed Executive Committee in the day-to-day running
        of the Area through the Area Presbytery. The Area Presbytery is the coordinating and highest policy-making
        body in the Area to which the Area Executive Committee shall be responsible.

        It is chaired by the Area Head and comprises of Area Executive Members, All Area office Holders, All
        District Executive Committee Members, Two(2) Deacons Representatives from each District, Three (3)
        Deaconesses Representative from each District, All Other Serving Ministers in the
        Region/Area, Three(3) Ministers’ Wives one of whom shall be the Regional/Area Head’s wife, Retired
        Ministers/Officers may be invited to attend but Without voting right.
        The Regional/Area Presbytery is responsible for electing the Regional Executive members. They receive and
        approve reports submitted by the various organs of the church in the Regions/Areas. They are also
        responsible for electing, approving, appointing and/or reviewing Regional Office holders as well as
        approving the Regional/Area Budget.


</p>

</div>

{% endblock content %}