{% extends "base.html" %}
{% load static %}
{% block content %}



<div style="background-color: #fafafa; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
    <h2 class="text-center">THE LOCAL CONGREGATION</h2>
    <div class="text-center history-img">
        <img width='90%' height="300px" class="history-img" src="{% static 'acci_main/images/apostle.jpg' %}" alt="">
    </div>
    <p class="text-primary p-history m-4">

        This is a further division of the district and forms the base of the administrative structure of the Church. The
        local congregation is headed by a Local Pastor or Overseer who sees to the implementation of decisions taken by
        the District Pastor, with the aid of the Presiding Elder, all Elders at the local assembly, all Deacons and
        Deaconesses in the local congregation. This body make up the Local Presbytery Council which is the coordinating
        and highest decision making body at the local assembly.
        Among other functions of the Local Presbytery Council; to discuss and decide and report on matters affecting the
        assembly and be responsible to the District Presbytery Council.
        This well-coordinated chain of command ensures both vertical and horizontal flow of information in the Church,
        thereby making implementation of policies and feedback very vital ingredients for effective administration.
    </p>

</div>

{% endblock content %}