{% extends "base.html" %}
{% load static %}
{% block content %}



<div style="background-color: #fafafa; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
    <h2 class="text-center">THE MEN'S FELLOWSHIP (ACMF)</h2>
    <div class="text-center history-img">
        <img width='90%' height="300px" class="history-img" src="{% static 'acci_main/images/apostle.jpg' %}" alt="">
    </div>
    <p style="text-indent: 0px;" class="text-primary p-history m-4">

        The Apostles' Continuation Men's Fellowship (ACMF) caters for the interest of all the men in the Church. The
        Men’s Ministry organizes seminars, workshops, lectures and symposia on all aspects of life including: Marriage
        enrichment, husbands’ responsibilities at home, child care and education; business management and techniques;
        leadership and responsibility in the Church and the State; current affairs at both national and international
        levels; the teaching of basic principles of domestic law and other specialized men-related ministries.
        AIMS AND THE OBJECTIVES OF THE APOSTLES CONTINUATION MEN'S FELLOWSHIP:
        1. To upholding the tenets of the Church,
        2. To foster the spirit of love and friendship among members of the church at large
        3. To promote the general welfare of the church and the society at large
        The current director for the ACMF globally is Rev. Kofi Asamoah Barimah.
        ...YESU NTI, YEBEDI NKUNIM!!!

    </p>

</div>

{% endblock content %}