{% extends "base.html" %}
{% load static %}
{% block content %}



<div style="background-color: #fafafa; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
    <h2 class="text-center">THE WOMEN'S FELLOWSHIP</h2>
    <div class="text-center history-img">
        <img width='90%' height="300px" class="history-img" src="{% static 'acci_main/images/apostle.jpg' %}" alt="">
    </div>
    <p style="text-indent: 0px;" class="text-primary p-history m-4">

        	
The Women Ministry have the core function of praying for the Church in general. Besides that, they embraces all the womenfolk and is responsible for giving employable and vocational skills, and training in home management to the women. The Women’s Ministry organizes retreats, seminars, workshops, lectures and symposia in all spheres of life, which includes:
1.	MARRIAGE ENRICHMENT, WIVES' RESPONSIBILITIES AT HOME, CHILD WELFARE, CARE AND EDUCATION. 
2.	BUSINESS MANAGEMENT AND TECHNIQUES.
It also carries out evangelism, counselling and sponsorship activities to help the needy in the church and in the society.  Additionally, the Ministry ministers to single mothers and orphans, spinsters, street’ kids, widows, lady professionals and politicians, the aged, business women and stigmatized victims of peculiar diseases such as HIV/AIDS. It also ministers to queen mothers, undertakes hospital and media evangelism, contributes to the governments’ poverty alleviation Programme and performs any other specialized women-related ministry. 
Deaconess Anokyewaa Manu is the current Director of the Women’s Ministry of ACCI.

    </p>

</div>

{% endblock content %}