{% extends "base.html" %}
{% load static %}
{% block content %}



<div style="background-color: #fafafa; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
    <h2 class="text-center">THE YOUTH MINISTRY</h2>
    <div class="text-center history-img">
        <img width='90%' height="300px" class="history-img" src="{% static 'acci_main/images/apostle.jpg' %}" alt="">
    </div>
    <p style="text-indent: 0px;" class="text-primary p-history m-4">
        The Youth Ministry is responsible for all the youth of the Church. Its students’ wing, called The Apostles'
        Continuation Student Union and Associates (ACONSU) which operates in the second cycle and tertiary institutions.
        It is vibrant in evangelism and leadership training.
        The Ministry carries out evangelism, i.e., preaches, witnesses and wins souls; encourages the youth to
        participate fully in the programs and activities of the Church and further exposes them to the various
        ministries within the Church.
        It affords the youth the full opportunity to plan and organize programs and activities for evangelism in
        schools, colleges and the tertiary institutions, and encourages them to develop their gifts and qualities of
        leadership, plan and organize programs and activities that meet the peculiar needs and aspirations of the youth
        as well as carrying out other specialized Youth-related ministries. They carry out such other functions as the
        General Council or the Executive Council may assign.

        The Apostles’ Continuation Youth Ministry is run by an Executive Committee which is made up of seven (7) members
        comprising two (2) Ministers,
        Two Youth Leaders (2) One (1) Elder, one (1) Deaconess and one (1) Minister’s wife. This forms the Youth Board.
        Senior Pastor Samuel Adjei is the current Deputy Director of the Youth Ministry.
        THE YOUTH DIRECTORATE/BOARD
        The current Director of the Youth Ministry is Senior Pastor Samuel Adjei. The President of the Youth Ministry
        Globally is Deacon George Ahimah and he Deputized by Dr. Bright Adjei Baffour.
    </p>
</div>

{% endblock content %}